* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

:root {
  --font-size: 16px;
  --primary-color: rgb(43, 42, 42);
  --secondary-color: #f6f6f6;
  --accent-color: #49edb1;
  --font-serif: "Libre Baskerville", "Source Serif Pro", serif;
  --font-sans: "Noto Sans", sans-serif;
}
body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#menu {
  position: sticky;
  top: 1rem;
  backdrop-filter: blur(2px);
  z-index: 9999;
}
h1,
h2,
h3 {
  font-family: var(--font-serif);
}
section {
  background-color: var(--secondary-color);
}

.logo {
  background-image: url(images/logo.svg);
  height: 3rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}
/* nav a:hover {
  background-color: var(--accent-color);
} */
.about_image {
  position: relative;
  background-image: url(images/lineart_selfie.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-color);
  border-radius: 9999px;
  background-size: cover;
  padding: 7rem;
  height: 3rem;
  width: 3rem;
  align-self: center;
  opacity: 1;
  transition: all 0.8s ease;
  filter: grayscale(1);
}
/* .about_image:hover {
  opacity: 0;
  transition: all 0.5s ease;
} */
.about_image_second {
  background-image: url(images/selfie.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 9999px;
  background-size: cover;
  top: 0;
  right: 0;
  padding: 7rem;
  height: 3rem;
  width: 3rem;
  align-self: center;
  transition: all 0.8s ease;
  background-color: var(--primary-color);
  opacity: 0;
  position: absolute;
}
.about_image_second:hover {
  opacity: 1;
  transition: all 0.8s ease;
}

#menu nav a:after {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0px;
  display: inline-block;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: 0.5s;
  z-index: -1;
}
#menu nav a:hover::after {
  height: 100%;
}

a > img:hover {
  filter: grayscale(0);
  background-color: transparent;
  opacity: 100%;
}
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer a:hover {
  color: var(--primary-color);
  background-color: var(--accent-color);
  transition: 0.5s;
}
img {
  max-width: 100%;
  object-fit: cover;
}
.portfolio_assignment img,
.hogwarts_assignment img,
.assignment img {
  opacity: 60%;
  filter: grayscale(1);
  height: 20vh;
  width: 100%;
}
a.cta {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
a.cta:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.5s;
}

#footer_list li {
  min-width: 145px;
}
h2,
section,
nav a,
.cta {
  position: relative;
}
h2::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 10%;
  bottom: -2px;
  display: inline-block;
  background-color: var(--accent-color);
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: 0.5s;
}
h2:hover:after {
  width: 40%;
}

#mouth {
  stroke: var(--primary-color);
}
#left_eye,
#right_eye {
  fill: var(--primary-color);
}
#face {
  fill: var(--secondary-color);
  stroke-width: 1px;
  stroke: var(--primary-color);
}
#face:hover {
  fill: #64efbc;
  transition: all 1s;
}

@media screen and (min-width: 640px) {
  .portfolio_assignment img,
  .hogwarts_assignment img,
  .assignment img {
    height: 27vh;
  }
  #footer_nav {
    height: 25vh;
  }
}
@media screen and (min-width: 1024px) {
  #projects {
    height: 90vh;
  }
  #landing {
    height: 100%;
  }
  #footer_nav {
    height: 30vh;
  }
  h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    bottom: -2px;
    display: inline-block;
    background-color: var(--accent-color);
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: 0.5s;
  }
  h2:hover:after {
    width: 100px;
  }
  #projects > h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 30%;
    bottom: -2px;
    display: inline-block;
    background-color: var(--accent-color);
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: 0.5s;
  }
  #projects > h2:hover:after {
    width: 100%;
  }
}

#smiley {
  animation: smiley_tr 3000ms linear infinite normal;
  height: 10rem;
}
@keyframes smiley_tr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#menu nav #logo:hover:after {
  content: none;
}
